html {
    font-family: Verdana;
    background-color: black;
    text-align: center;
}
h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
a {
    color: aquamarine;
    font-size: 16px;
    font-weight: lighter;
}

h2  {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
    font-family: Verdana;
    font-size: 21px;
    color: Gray;
}

img {
    text-align: center;
}

#footer {
    text-align: right;
    color: gray;
}